{% extends 'base.html' %}
{% block content %}

{% if is_following_page %}
    <span>Following</span>
    |
    <a href="{% url 'home_feed_list' %}">Explore</a>
{% elif is_search_page %}
    <form action="{% url 'search_list' %}">
        <input id="post-list-search-input" type="text" name="searchInput" placeholder="  Search Posts" required>
        <button style="display: none" type="submit"></button>
    </form>
{% else %}
    <div class="following-explore">
    <a id="following-link" href="{% url 'following_posts' %}">Following</a>
    |
    <span id="explore-link">Explore</span>
    </div>
{% endif %}
<div class="li-post-container">
<ul>
    {% for post in post_list %}
        {% if post.creator.id != user.id %}
            <li>
                <div id="post_row1">
                    <a href="{% url 'posts_detail' post.id %}">
                        <h2>{{ post.title }}</h2> 
                    </a>
                </div>
                
                <div id="post_row2">
                    <a href="{% url 'users_detail' post.creator.id %}">
                        <p id="at" >@{{ post.creator }}</p>
                    </a> 
                </div>
                <div id="post_row3">
                    <p class="description">{{ post.description }}</p>
                </div>
                {% if user.is_authenticated %}
                    {% if user not in post.savedBy.all %}
                        <div id="post_row4">
                            <!-- <p>add stars here</p> -->
                            <img src="/static/images/five_stars.png" alt="five-stars"><br>
                            <a href="{% url 'posts_save' post.id %}">Save Post</a>
                        </div>
                    {% else %}
                        <div id="post_row4">
                            <!-- <p>add stars here</p> -->
                            <img src="/static/images/five_stars.png" alt="five-stars"><br>
                            <a href="{% url 'posts_unsave' post.id %}">Unsave Post</a>
                        </div>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
</div>


{% endblock %}