{% extends 'base.html' %}
{% block content %}

<h1>{{ post.title }}</h1>
<a href="{% url 'users_detail' post.creator.id %}">
    <h3>{{ post.creator.username }}</h3>
</a>
<p>{{ post.description }}</p>
<a href="{% url 'reviews_create' post.id %}">Leave Review</a>

<h3>{{ post.header }}</h3>
<p>{{ post.content }}</p>

<h2>Reviews</h2>
{% for review in reviews %}
    <p>{{ review }}</p>
{% endfor %}

<h2>Picture/Video</h2>
{% for file in files %}
{% if file.is_photo %}
  <img src="{{ file.url }}" alt="{{ file }}" width="400">
{% endif %}
{% endfor %}

<!-- Display videos -->
{% for file in files %}
{% if file.is_vid %}
  <video controls>
    <source src="{{ file.url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
{% endif %}
{% endfor %}
{% endblock %}
