{% extends 'base.html' %}
{% block content %}

<h1>All Posts</h1>

<ul>
    {% for post in post_list %}
        <li>
            <div id="post_row1">
                <h2>{{ post.title }}</h2> 
            </div>
            
            <div id="post_row2">
                <a href="{% url 'users_detail' post.creator.id %}">
                    <p id="at" >@{{ post.creator }}</p>
                </a> 
            </div>
            <div id="post_row3">
                <p class="description">{{ post.description }}</p>
            </div>
            {% if post.creator.id != user.id and user not in post.savedBy.all %}
                <div id="post_row4">
                    <p>add stars here</p>
                    <a href="{% url 'posts_save' post.id %}">Save Post</a>
                </div>
            {% elif user in post.savedBy.all %}
                <div id="post_row4">
                    <p>add stars here</p>
                    <a href="{% url 'posts_unsave' post.id %}">Unsave Post</a>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>


{% endblock %}