{% extends 'base.html' %}
{% block content %}
  <div id="post-detail">
    <h1>{{ post.title }}</h1>
    <a href="{% url 'users_detail' post.creator.id %}">
        <p>by @{{ post.creator.username }}</p>
    </a>
    <h3>{{ post.header }}</h3>
    <p>{{ post.contentBlock }}</p>

    {% for file in files %}
    {% if file.is_photo %}
      <div id="image-container">
        <img  id="post-detail-picture" src="{{ file.url }}" alt="{{ file }}" width="400">
      </div>
      {% endif %}
    {% endfor %}

    <!-- Display videos -->
    {% for file in files %}
    {% if file.is_vid %}
      <video id="post-detail-picture" controls>
        <source  src="{{ file.url }}" type="video/mp4">
      </video>
    {% endif %}
    {% endfor %}

    <h2>Reviews</h2>
    <button id="post-submit-btn">
      <a href="{% url 'reviews_create' post.id %}">Leave Review</a>
    </button>
    
    {% for review in reviews %}
      <p>{{ review }}</p>
    {% endfor %}
</div>

{% endblock %}







