{% extends 'base.html' %}
{% block content %}
  <div id="post-detail">

    <div id="block-1">
      <h1>{{ post.title }}</h1>
      <a href="{% url 'users_detail' post.creator.id %}">
          <p>by @{{ post.creator.username }}</p>
      </a>
    </div>



    {% for file in files %}
    {% if file.is_photo %}
      <div id="image-container">
        <img  id="post-detail-picture" src="{{ file.url }}" alt="{{ file }}" width="400">
      </div>
      {% endif %}
    {% endfor %}

    <!-- Display videos -->
    {% for file in files %}
    {% if file.is_vid %}
      <video id="post-detail-picture" controls>
        <source  src="{{ file.url }}" type="video/mp4">
      </video>
    {% endif %}
    {% endfor %}

    <div id="block-2">
      <h3>{{ post.header }}</h3>
      <p>{{ post.contentBlock }}</p>
    </div>

    <div id="block-3">
      
        <button id="post-submit-btn">
          <a href="{% url 'reviews_create' post.id %}">Add Review</a>
        </button>
    </div>

    <div id="block-4">
      <table id="review-table">
        <thead>
          <tr>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr>
            <td class="review-block">
              <p class="creator">By: {{ review.creator }}</p>
              <p class="rating">{{ review.rating }}</p>
              <p class="content">Review: {{ review.content }}</p>
            </td>
          </tr>
          <tr class="spacer-row">
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    
    
</div>

{% endblock %}







