<div id="skill-create-page">

{% extends 'base.html' %}

{% block content %}
{% if object %}
    <h1>Edit {{ skill }}</h1>
{% else %}
    <h1>Add Skill</h1>
{% endif %}

<div id="skill-form-container">
        <form class="skill-form" action="" method="POST">
            <!-- Django requires the following for security purposes -->
            {% csrf_token %}
            <table>
                <!-- Render the inputs inside of <tr>s & <td>s -->
                {{ form.as_table }}
            </table>
            <div id="submit_center">
                <input type="submit" value="Submit" class="btn">
            </div>
            
        </form>
    </div>
</div>

{% endblock %}