{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Zeeply</title>
</head>
<main>
    <body>
        <header>
            <div class="dropdown">
                <button class="dropbtn">
                    <span class="icon">&#x2699;</span> <!-- Replace with your login icon class or HTML -->
                </button>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                    <p>logged in as {{user}}</p>
                    <a href="{% url 'logout' %}">Log Out</a>              
                    <a href="{% url 'skills_create' %}">Add Skill</a>
                    
                    <a href="{% url 'profiles_create' %}">Add Profile</a>
                    
                    {% else %}
                    <a href="{% url 'login' %}">Log In</a>
            
                    <a href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                </div>      
            </div>
            <div>
                <h2>Zeeply</h2>
                <div>
                    <input type="search" name="" id="">
                </div>
            </div>
        </header>
        <br><br>
</main>
<br><br>
      
      
    {% block content %}
    {% endblock %}
    <footer>
        
        {% if user.is_authenticated %}
            <a href="{% url 'home_feed_list' %}">
                <span class="icon">&#127968;</span>
                <span>Home</span>
            </a>
            <a href="#">
                <span class="icon">&#128269;</span>
                <span>Search</span>
            </a>
            <a href="{% url 'posts_create' %}">
                <span class="icon">&#10133;</span>
                <span>Create</span>
            </a>
            <a href="{% url 'saved_list' %}">
                <span class="icon">&#128190;</span>
                <span>Saved</span>
            </a>

            <a href="{% url 'users_detail' user.id %}">
                <span class="icon">&#128100;</span>
                <span>Profile</span>
            </a>
        {% endif %}
    </footer>
</body>
</html>